{% load static %}

<!DOCTYPE html>

<html lang="en">


{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Your e-commerce site description here">
    <meta name="keywords" content="ecommerce, shopping, online store">
    <meta name="author" content="Your Name or Company">

    <link rel="icon" href="{% static 'images/1.jpg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/1.jpg' %}" type="image/x-icon">

    <title>Airpods - Fitverse</title>

{% load static %}
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.css' %}">
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/color19.css' %}" media="screen" id="color">
</head>

<body>
    <header class="header-tools marketplace">
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container-fluid custom-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul>
                                <li>Welcome to Fitverse</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <ul class="header-dropdown">
                            <li class="onhover-dropdown mobile-account"> <span class="fa fa-user"></span>
                                My Account
                                <ul class="onhover-show-div">
                                    <li><a href="{% url 'login' %}">Login</a></li> 
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="navbar">
                                <a href="javascript:void(0)" onclick="openNav()">
                                    <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></div>
                                </a>
                                <div id="mySidenav" class="sidenav">
                                    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                                    <nav>
                                        <div onclick="closeNav()">
                                            <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back</div>
                                        </div>
                                        <ul id="sub-menu" class="sm pixelstrap sm-vertical">
                                            <li><a href="{% url 'tshirts_view' %}">T-Shirts</a></li>
                                            <li><a href="{% url 'mens_tshirt_view' %}">Men's T-Shirts</a></li>
                                            <li><a href="{% url 'tops_view' %}">Tops</a></li>
                                            <li><a href="{% url 'bottom_wear_view' %}">Bottom Wear</a></li>
                                            <li><a href="{% url 'women_tops_view' %}">Women Tops</a></li>
                                            <li><a href="{% url 'polo_shirts_view' %}">Polo Shirts</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="brand-logo">
                                <a href="{% url 'index' %}"><img src="{% static 'images/logo.jpg' %}" class="img-fluid blur-up lazyload" alt="Logo"></a>
                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li>
                                            <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                        </li>
                                        <li><a href="{% url 'index' %}">Home</a></li>
                                        <li class="onhover-dropdownn">
                                           <a href="{% url 'shop' %}">Store</a>
                                           <ul class="dropdown-menu">
                                                <li><a href="{% url 'tshirts_view' %}">T-Shirts</a></li>
                                                <li><a href="{% url 'mens_tshirt_view' %}">Men's T-Shirts</a></li>
                                                <li><a href="{% url 'tops_view' %}">Tops</a></li>
                                                <li><a href="{% url 'bottom_wear_view' %}">Bottom Wear</a></li>
                                                <li><a href="{% url 'women_tops_view' %}">Women Tops</a></li>
                                                <li><a href="{% url 'polo_shirts_view' %}">Polo Shirts</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>Airpods</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Airpods</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <section class="section-b-space ratio_asos">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 collection-filter">
                        <div class="collection-filter-block">
                            <div class="collection-collapse-block border-0 open">
                                <h3 class="collapse-block-title">Price</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                        <form method="GET" action="{% url 'airpods_view' %}">
                                            <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="hundred" name="price" value="100" {% if '100' in prices %}checked{% endif %}>
                                                <label class="custom-control-label" for="hundred">Rs. 10 - Rs. 200</label>
                                            </div>
                                            <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="twohundred" name="price" value="200" {% if '200' in prices %}checked{% endif %}>
                                                <label class="custom-control-label" for="twohundred">Rs. 200 - Rs. 400</label>
                                            </div>
                                            <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="fourhundredabove" name="price" value="400" {% if '400' in prices %}checked{% endif %}>
                                                <label class="custom-control-label" for="fourhundredabove">Rs. 400 above</label>
                                            </div>
                                            <div class="mt-3">
                                                <button type="submit" class="btn btn-solid">Filter</button>
                                                <br><br>
                                                <a href="{% url 'airpods_view' %}" class="btn btn-solid">Remove Filter</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collection-sidebar-banner mt-4">
                            <a href="#"><img src="{% static 'images/bg1.jpg' %}" class="img-fluid blur-up lazyload" alt=""></a>
                        </div>
                    </div>

                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="collection-product-wrapper">
                                        <div class="row">
                                            {% for product in products %}
                                                {% if product.Title %}
                                                    <div class="col-md-4 mb-4">
                                                        <div class="card mb-4">
                                                            <a href="{% url 'product_detail' product.Title %}">
                                                                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.Title }}" height="250">
                                                            </a>
                                                            <div class="card-body text-center">
                                                                <a href="{% url 'product_detail' product.Title %}" class="text-dark">
                                                                    <h5 class="card-title">{{ product.Title }}</h5>
                                                                </a>
                                                                <h5>
                                                                    <b>Rs. {{ product.dp }}</b>
                                                                    <del class="text-muted">Rs. {{ product.Price }}</del>
                                                                </h5>
                                                            </div>
                                                            <div class="cart-info cart-wrap">
                                                                <form class="add-to-cart-form" data-product-id="{{ product.id }}">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" name="quantity" value="1">
                                                                    <button type="submit" class="btn btn-icon" title="Add to cart">
                                                                        <i class="fa fa-shopping-cart"></i>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% empty %}
                                                <div class="col-12"><p class="text-center">No products found.</p></div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class="footer-light">
        <div class="light-layout">
            <div class="container">
                <section class="small-section border-section border-top-0">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="subscribe">
                                <div>
                                    <h4>KNOW IT ALL FIRST!</h4>
                                    <p>Never Miss Anything From Our Store By Signing Up To Our Newsletter.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form class="form-inline subscribe-form auth-form needs-validation" method="post" target="_blank">
                                <div class="form-group mx-sm-3">
                                    <input type="text" class="form-control" name="EMAIL" placeholder="Enter your email" required="required">
                                </div>
                                <button type="submit" class="btn btn-solid" id="mc-submit">subscribe</button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </footer>

    <div class="tap-top"><div><i class="fa fa-angle-double-up"></i></div></div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}" defer></script>
<script src="{% static 'js/popper.min.js' %}" defer></script>
<script src="{% static 'js/slick.js' %}" defer></script>
<script src="{% static 'js/menu.js' %}" defer></script>
<script src="{% static 'js/lazysizes.min.js' %}" defer></script>
<script src="{% static 'js/bootstrap.js' %}" defer></script>
<script src="{% static 'js/bootstrap-notify.min.js' %}" defer></script>
<script src="{% static 'js/fly-cart.js' %}" defer></script>
<script src="{% static 'js/script.js' %}" defer></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
  const forms = document.querySelectorAll('.add-to-cart-form');
  forms.forEach(form => {
    form.addEventListener('submit', function (e) {
      e.preventDefault();
      const productId = form.dataset.productId;
      const quantity = form.querySelector('input[name="quantity"]').value || 1;
      const csrfToken = form.querySelector('input[name="csrfmiddlewaretoken"]').value;
      fetch("{% url 'ajax_add_to_cart' %}", {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded', 'X-CSRFToken': csrfToken },
        body: new URLSearchParams({ 'product_id': productId, 'quantity': quantity }),
      })
      .then(response => response.json())
      .then(data => { if (data.success) { alert('Item added to cart!'); location.reload(); } else { alert('Failed to add item to cart'); } })
      .catch(error => { console.error('Error:', error); alert('Error adding item to cart'); });
    });
  });
});
</script>
</body>
</html>
